#container {
	background: grey;
	width: 25%;
	margin:auto;
	border: solid black;
	padding:10px;
	font-family: 'Bitter', serif;
}
#calculator {
	display: block;
	margin:auto;
}
#calc-tip {
	margin:10px;
	margin-left:0px;
	background:whitesmoke;
}
h1 {
	margin-top:0px;
	text-align: center;
}
#result {
	visibility:hidden;
}
#err-bill, #err-percent, #err-patron {
	color:red;
	visibility: hidden;
	margin-top:10px;
}
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait) {
	#container {
	width: 100vw;
	height: auto;
	}
}